.experience{
    padding-top: 2rem;
    padding-left: 2rem;
    text-align: left;
    grid-row: 3;
    grid-column: span 4;
    grid-row-end: span 2;
}
.experience input,
.experience textarea{
    font-size: 1.2rem;
}